@charset "utf-8";
@import "tStyle.scss";
@import "style_teamin.scss";
@import "style_boram.scss";
@import "style_chloe.scss";
@import "style_hun.scss";
@import "style_junghee.scss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{box-sizing: border-box;}
html,body {font-family: 'Pretendard-Regular'; color: #333333;}
.hackyoMong {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
}
header {
    h1 {
        width: 135px;
        height: 80px;
        img {
            width: 100%;
        }
    }
    .userProfile {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        img {
            width: 100%;
        }
    }
    input:focus {
        outline: none;
    }
    .icon {
        display: flex;
        width: 24px;
        height: 24px;
        font-size: 0;
        background-repeat: no-repeat;
        img {
            width: 100%;
        }
    }
    .iconFillter {
        background: url("../images/iconFillter.png");
    }
    .iconSearch {
        background: url("../images/IconSearch.png");
    }
}
.gnbMenu {
    position:fixed;
    z-index: 9;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    transition: 0.3s;
}
nav {
    ul{
        li {
            font-size: 0.8125em; /*13px*/
            line-height: 1.25rem; /* 20px */
        }
        img {
            width: 30px !important;
            opacity: 0.5;
        }
        .active {
            color: #333333;
            img {
                opacity: 1;
            }
        }
    }
}
.btnOnOff {
    position: relative;
    width: 108px;
    height: 35px;
    background: url("../images/menuClose.png") no-repeat;
    font-size: 0;
    &.active {
        background: url("../images/menuOpen.png") no-repeat;
    }
}
footer {
    width: 100%;
    background: $Default;
    font-size: 0.8125em;
    color: #D9D9D9;
    .logoFooter {
        width: 165px;
        height: 102px;
        font-size: 0px;
        background: url("../images/logoFooter.png") no-repeat;
        background-size: 100%;
    }
    a {
        color: #D9D9D9;
    }
    li {
        color: #D9D9D9;
    }
}
/**Modal**/
.modalWrap {
    top: 50%;
    transform:translate(0,-50%)
}
/*Form*/
input {
    width: 100%;
    background: none;
}
input:focus {
    outline: none;
}
.inputContainer input::-webkit-input-placeholder {
    background-size: contain;
    text-align: left;
    color: #F5F5F5;
    text-indent: 0;
}
.iconHash input::-webkit-input-placeholder{
    background: url("../images/iconHash.png") no-repeat center;
}
.iconPhoto input::-webkit-input-placeholder{
    background: url("../images/iconPhoto.png") no-repeat center;
}
.iconText input::-webkit-input-placeholder{
    background: url("../images/iconText.png") no-repeat center;
}
.iconDetail input::-webkit-input-placeholder{
    background: url("../images/iconDetail.png") no-repeat center;
}
.iconLink input::-webkit-input-placeholder{
    background: url("../images/iconLink.png") no-repeat center;
}
textarea {
    width: 100%;
    min-height: 100px;
    outline: none;
    background: none;
}
textarea::-webkit-input-placeholder {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.selectWrap {

}
.selectbox {
    display: flex;
    gap: 10px;
}
.select_cus {
    position: relative;
    min-width: 100px;
    max-width: 500px;
    margin: 0 auto 0;
}
.select_cus .trigger {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    padding: 0 36px 0 16px;
    border:solid 1px #E3E3E3;
    border-radius: 5px;
    cursor: pointer;
}
.select_cus .trigger:after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background:url('../images/selectArrow.png') center center no-repeat;
    background-size: contain;
    transform:scaleY(-1);
}
.select_cus.active .trigger:after {
    transform:scaleY(1);
}
.select_cus .trigger_txt {
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.21px;
    color: #ACACAC;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select_cus.select .trigger_txt {
    color: #222222;
}
.select_cus .option {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    width: 100%;
    max-height: 203px;
    background: #fff;
    border: 1px solid #D9D9D9;
    z-index: 1;
    overflow-y: auto;
}
.select_cus .option > li {
    padding:11px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: #2C2C2C;
    cursor: pointer;
}
.select_cus .option > li:hover {
    background: #F2F2F2;
}
/*local radio*/
.localButton {
    width: 100%;
    font-size: 0.875em;
    li {
        margin-bottom: 10px;
    }
    input {
        position: absolute;
        opacity: 0;
    }
    input + span {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px 10px;
        box-shadow:0 0 0 1px #D9D9D9 inset;
        border-radius: 30px;
    }
    input + span:hover {
        background: #EBE9E9;
    }
    input:checked + span {
        background: #EBE9E9;
        box-shadow:0 0 0 2px $Primary inset;
        color:#333333;
    }
}
/*filter radio&checkbox*/
.filterRadioButton {
    width: 100%;
    font-size: 0.875em;
    color: #595959;
    li {
        margin-bottom: 10px;
    }
    input {
        position: absolute;
        opacity: 0;
    }
    input + span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px 10px 6px 10px;
        box-shadow:0 0 0 1px #D9D9D9 inset;
        border-radius: 10px;
    }
    input + span i {
        display: none;
    }
    input + span:hover {
        box-shadow:0 0 0 1px $Primary inset;
    }
    input:checked + span {
        box-shadow:0 0 0 1px $Primary inset;
        color:#333333;
    }
    input:checked + span i {
        display: flex;
        margin-right: 5px;
    }
}
.filterCheckButton {
    width: 100%;
    font-size: 0.875em;
    li {
        margin-bottom: 10px;
    }
    input {
        position: absolute;
        opacity: 0;
    }
    input + span {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px 10px 6px 10px;
        box-shadow:0 0 0 1px #D9D9D9 inset;
        border-radius: 10px;
    }
    input + span:hover {
        background: $PrimaryHover;
        box-shadow:0 0 0 2px $Primary inset;
    }
    input:checked + span {
        background: $Primary;
        box-shadow:0 0 0 2px $Primary inset;
        color:#333333;
    }
}
/**아이콘**/
/* 회원관련 아이콘 */
i.iconTypeInput {
    content: '';
    display: flex;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}
.iconEmail {
    background: url("../images/iconRmail.png");
}
.iconRname {
    background: url("../images/iconRname.png");
}
.iconRock {
    background: url("../images/iconRlockcheck.png");
}
.iconRockCheck {
    background: url("../images/iconRlockcheck.png");
}
/*가게정보 아이콘*/
i.iconTypeStore {
    content: '';
    display: flex;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}
.iconStore {
    background: url("../images/iconStore.png");
}
.iconStoreLoc {
    background: url("../images/iconStoreLoc.png");
}
.iconStoreTel {
    background: url("../images/iconStoreTel.png");
}
.iconStoreTime {
    background: url("../images/iconStoreTime.png");
}
/*라인버튼 속 아이콘*/
/*20px*/
i.iconBasic {
    content: '';
    display: flex;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
}
.iconMore {
    background: url("../images/iconMore.png");
}
.iconUserDelet {                         
    background: url("../images/iconUserDelet.png");
}
.iconUserModify {
    background: url("../images/iconUserModify.png");
}
.iconCheck {
    background: url("../images/iconCheck.png");
}
.iconHotple {
    background: url("../images/iconHotple.png");
}
.iconView {
    background: url("../images/iconView.png");
}
.iconComment {
    background: url("../images/iconComm.png");
}
.iconDel {
    background: url("../images/btnDelet.png");
}
.iconTrash {
    background: url("../images/iconTrash.png");
    margin-left: 0 !important;
}
/**18px*/
i.iconSmall {
    content: '';
    display: flex;       
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
}
.iconPass {
    background: url("../images/iconPass.png");
}
.iconWriter {
    background: url("../images/iconPen.png");
}
.iconHello {
    background: url("../images/iconHello.png");
}
.iconOut {
    background: url("../images/iconOut.png");
}
/*fileupload*/
.btnFileUpload {
    width: 35px;
    height: 34px;
    display: flex;
    font-size: 0;
    background: url("../images/fileUpload.png");
}
/*뒤로가기*/
.btnBack {
    width: 36px;
    height: 36px;
    display: flex;
    font-size: 0;
    background: url("../images/btnBack.png");
}
/*메인화면*/
.rstWrap {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    .rstImagwrap {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
        }
    }
    .rstLayerWrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 200px;
        bottom: -160px;
        padding: 10px 10px;
        left: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        transition: 0.3s;
        div {
            width: 100%;
        }
    }
    &:hover .rstLayerWrap {
        bottom: 0;
    }
}
.mainSwiper {
    width: 1024px !important;
    padding: 0 32px !important;
}
.swiper-button-prev::after,.swiper-button-next::after {
    display: none !important;
}
.swiper-button-prev {
    content: '';
    width: auto;
    height: auto;
    left:0 !important;
    background: url("../images/swiperPrev.png") no-repeat !important;
}
.swiper-button-next {
    content: '';
    width: auto;
    height: auto;
    right:0 !important;
    background: url("../images/swiperNext.png") no-repeat !important;
}
/*누구랑 갈까 메뉴*/
.mateMenu {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    border:solid 1px #ccc;
    transition: 0.3s;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
    .menuTitle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 66px;
        padding-top: 20px;
        bottom: 0px;
        z-index: 2;
        font-size: 1em;
        font-family: 'TTHakgyoansimMonggeulmonggeulR';
        background: url("../images/menuOff.png");
        border-top: none;
        transition: 0.3s;
    }
    &:hover  {
        border:solid 2px $Primary;
        box-shadow:1px 1px 0 1px rgba(0, 0, 0, 0.1);
    }
    &:hover img {
        width: 105%;
        height: 105%;
    }
    &:hover .menuTitle {
        background: url("../images/menuOn.png");
        border-top: none;
    }
}
/*누구랑 갈까 리스트 */
.restaurantListWrap {
    .imgWrap {
        max-width: 160px;
        max-height: 160px;
        border-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .textWrap {
        width: 100%;
        font-size: 0.9375em;
        h3 {
            font-size: 1.25em;
            font-weight: 600;
            text-overflow:ellipsis;
            word-break: break-all;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;            
        }
    }
}
/*가게 정보 페이지*/
.restarantView {
    h4 {
        width: 100%;
        font-size: 1.5rem;
        padding-top: 20px;
    }
    .textBox {
        width: 100%;
        font-size: 0.825em;
        padding-top: 20px;
        >div {
            display: flex;
            margin-right: 20px;
        } 
    }
}
.mateBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        font-size: 0.875em;
        padding: 5px 10px 6px 10px;
        box-shadow:0 0 0 1px #D9D9D9 inset;
        border-radius: 10px;
    i {
        display: none;
    }
    &.checked {
        box-shadow:0px 0px 2px $Primary inset;
    }
    &.checked i {
        display: flex;
        margin-right: 5px;
    }
}
.swiperView {
    width: 100%;
    height: 100%;
    .bgLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.0) 70%, black 100%);
    }
    img {
        height: 100%;
        object-fit: cover;
    }
    .swiper-pagination-bullet {
        background-color: #fff !important;
        opacity: 0.8!important;
    }
    .swiper-pagination-bullet-active {
        background-color: $Primary !important;
    }
}
.reviewListWrap {
    width: 100%;
    padding: 15px 0;
    border-bottom: solid 1px #E3E3E3;
    .imgWrap {
        width: 140px;
        height: 140px;
        border-radius: 10px;
        overflow: hidden;
        background: url("../images/imgReNone.png");
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .textWrap {
        .name {
            font-size: 1em;
            font-weight: 600;
        }
        .content {
            font-size: 0.9375em;
            text-overflow:ellipsis;
            word-break: break-all;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    .iconTrash {
        content: '';
        display: flex;
        width: 32px;
        height: 32px;
        font-size: 0;
        background: url("../images/iconTrash.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-left: 0 !important;
    }
    .hashBox {
        width: auto;
        padding: 3px 10px;
        font-size: 0.815em;
        font-weight: 600;
        border: solid 1px #ccc;
        border-radius: 20px;
        background: #F5F5F5;
    }
}

@media (max-width: 768px) {
    header {
        h1 {
            width: 90px;
            height: 50px;
        }
        .userProfile {
            width: 45px;
            height: 45px;
            border-radius: 25px;
        }
    }
    footer {
        .logoFooter {
            width: 120px;
            height: 80px;
        }
    }
}