@charset "utf-8";
@import "tStyle.scss";
@import "style_teamin.scss";
@import "style_boram.scss";
@import "style_chloe.scss";
@import "style_hun.scss";
@import "style_junghee.scss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{box-sizing: border-box;}
html,body {font-family: 'Pretendard-Regular'; color: #333333;}
.hackyoMong {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
}
header {
    h1 {
        width: 135px;
        height: 80px;
        img {
            width: 100%;
        }
    }
    .userProfile {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        img {
            width: 100%;
        }
    }
    input:focus {
        outline: none;
    }
    .icon {
        display: flex;
        width: 24px;
        height: 24px;
        font-size: 0;
        background-repeat: no-repeat;
        img {
            width: 100%;
        }
    }
    .iconFillter {
        background: url("../images/iconFillter.png");
    }
    .iconSearch {
        background: url("../images/IconSearch.png");
    }
}
.gnbMenu {
    position:fixed;
    z-index: 9;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    transition: 0.3s;
}
nav {
    ul{
        li {
            font-size: 0.8125em; /*13px*/
            line-height: 1.25rem; /* 20px */
        }
        img {
            width: 30px !important;
            opacity: 0.5;
        }
        .active {
            color: #333333;
            img {
                opacity: 1;
            }
        }
    }
}
.btnOnOff {
    position: relative;
    width: 108px;
    height: 35px;
    background: url("../images/menuClose.png") no-repeat;
    font-size: 0;
    &.active {
        background: url("../images/menuOpen.png") no-repeat;
    }
}
footer {
    width: 100%;
    background: $Default;
    font-size: 0.8125em;
    color: #D9D9D9;
    .logoFooter {
        width: 165px;
        height: 102px;
        font-size: 0px;
        background: url("../images/logoFooter.png") no-repeat;
        background-size: 100%;
    }
    a {
        color: #D9D9D9;
    }
    li {
        color: #D9D9D9;
    }
}
/**Modal**/
.modalWrap {
    top: 50%;
    transform:translate(0,-50%)
}
/*Form*/
input {
    width: 100%;
    background: none;
}
input:focus {
    outline: none;
}
.inputContainer input::-webkit-input-placeholder {
    background-size: contain;
    text-align: left;
    color: #F5F5F5;
    text-indent: 0;
}
.iconHash input::-webkit-input-placeholder{
    background: url("../images/iconHash.png") no-repeat center;
}
.iconPhoto input::-webkit-input-placeholder{
    background: url("../images/iconPhoto.png") no-repeat center;
}
.iconText input::-webkit-input-placeholder{
    background: url("../images/iconText.png") no-repeat center;
}
.iconDetail input::-webkit-input-placeholder{
    background: url("../images/iconDetail.png") no-repeat center;
}
.iconLink input::-webkit-input-placeholder{
    background: url("../images/iconLink.png") no-repeat center;
}
textarea {
    width: 100%;
    min-height: 100px;
    outline: none;
    background: none;
}
textarea::-webkit-input-placeholder {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*local radio*/
.localButton {
    width: 100%;
    font-size: 0.875em;
    li {
        margin-bottom: 10px;
    }
    input {
        position: absolute;
        opacity: 0;
    }
    input + span {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px 10px;
        box-shadow:0 0 0 1px #D9D9D9 inset;
        border-radius: 30px;
    }
    input + span:hover {
        background: #EBE9E9;
    }
    input:checked + span {
        background: #EBE9E9;
        box-shadow:0 0 0 2px $Primary inset;
        color:#333333;
    }
}
/*filter radio&checkbox*/
.filterRadioButton {
    width: 100%;
    font-size: 0.875em;
    color: #595959;
    li {
        margin-bottom: 10px;
    }
    input {
        position: absolute;
        opacity: 0;
    }
    input + span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px 10px 6px 10px;
        box-shadow:0 0 0 1px #D9D9D9 inset;
        border-radius: 10px;
    }
    input + span i {
        display: none;
    }
    input + span:hover {
        box-shadow:0 0 0 1px $Primary inset;
    }
    input:checked + span {
        box-shadow:0 0 0 1px $Primary inset;
        color:#333333;
    }
    input:checked + span i {
        display: flex;
        margin-right: 5px;
    }
}
.filterCheckButton {
    width: 100%;
    font-size: 0.875em;
    li {
        margin-bottom: 10px;
    }
    input {
        position: absolute;
        opacity: 0;
    }
    input + span {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px 10px 6px 10px;
        box-shadow:0 0 0 1px #D9D9D9 inset;
        border-radius: 10px;
    }
    input + span:hover {
        background: $PrimaryHover;
        box-shadow:0 0 0 2px $Primary inset;
    }
    input:checked + span {
        background: $Primary;
        box-shadow:0 0 0 2px $Primary inset;
        color:#333333;
    }
}
/**아이콘**/
/* 회원관련 아이콘 */
i.iconTypeInput {
    content: '';
    display: flex;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}
.iconEmail {
    background: url("../images/iconRmail.png");
}
.iconRname {
    background: url("../images/iconRname.png");
}
.iconRock {
    background: url("../images/iconRlockcheck.png");
}
.iconRockCheck {
    background: url("../images/iconRlockcheck.png");
}
/*가게정보 아이콘*/
i.iconTypeStore {
    content: '';
    display: flex;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}
.iconStore {
    background: url("../images/iconStore.png");
}
.iconStoreLoc {
    background: url("../images/iconStoreLoc.png");
}
.iconStoreTel {
    background: url("../images/iconStoreTel.png");
}
.iconStoreTime {
    background: url("../images/iconStoreTime.png");
}
/*라인버튼 속 아이콘*/
/*20px*/
i.iconBasic {
    content: '';
    display: flex;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
}
.iconMore {
    background: url("../images/iconMore.png");
}
.iconUserDelet {                         
    background: url("../images/iconUserDelet.png");
}
.iconUserModify {
    background: url("../images/iconUserModify.png");
}
.iconCheck {
    background: url("../images/iconCheck.png");
}
.iconHotple {
    background: url("../images/iconHotple.png");
}
.iconView {
    background: url("../images/iconView.png");
}
.iconComment {
    background: url("../images/iconComm.png");
}
.iconDel {
    background: url("../images/btnDelet.png");
}
/**18px*/
i.iconSmall {
    content: '';
    display: flex;       
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
}
.iconPass {
    background: url("../images/iconPass.png");
}
.iconWriter {
    background: url("../images/iconPen.png");
}
.iconHello {
    background: url("../images/iconHello.png");
}
.iconOut {
    background: url("../images/iconOut.png");
}
/*fileupload*/
.btnFileUpload {
    width: 35px;
    height: 34px;
    display: flex;
    font-size: 0;
    background: url("../images/fileUpload.png");
}
/*뒤로가기*/
.btnBack {
    width: 36px;
    height: 36px;
    display: flex;
    font-size: 0;
    background: url("../images/btnBack.png");
}

/*가게 정보 페이지*/
.restarantView {
    h4 {
        width: 100%;
        font-size: 1.5rem;
        padding-top: 20px;
    }
    .textBox {
        width: 100%;
        font-size: 0.825em;
        padding-top: 20px;
        >div {
            display: flex;
            margin-right: 20px;
        } 
    }
}
@media (max-width: 768px) {
    header {
        h1 {
            width: 90px;
            height: 50px;
        }
        .userProfile {
            width: 45px;
            height: 45px;
            border-radius: 25px;
            
        }
    }
    footer {
        .logoFooter {
            width: 120px;
            height: 80px;
        }
    }
}